.about_header{
background-color:#EEE1DB;
    display: flex;
  flex-flow: column;
  height: 140px;
}

.about_footer{
    background-color:#EEE1DB;
    height:230px;
    
}
.about{
    background-color:white;
    padding:2em;
    position:relative;
    margin: 0 auto;
}
.about_profileWrapper{
    position:relative;
    margin-top:-5em;
}
.about_text{
    display: flex;
    flex-direction:column;
    align-items:center;
    max-width: 550px;
    width: 80vw;
    padding: 25px;
    background-color:white;
    margin: 0 auto;
    height:90vw;
    max-height:390px;
    border:2px solid lightgrey;
}
.about_profile{
    border-radius:70px;
    position:relative;
    border:2px solid white;
    width:110px;
    height:110px;
    margin-bottom:5px;
    
}

.about_sections h3{
    margin-bottom:1em;
    border-bottom:2px solid lightgrey;
}
.about_email{
    display: flex;
    align-items:center;
    
}
a{
    text-decoration:none;
    color:black;
}