.commentInput{
    display:flex;
    justify-content:space-between;
    border-top:1px solid lightgrey;
    margin-top:5px;
}
.commentInput_textarea{
    border: none;
    width: 100%;
    resize:none;
    margin-top:10px;
    margin-left:7px;
    font-size:14px;
      font-family: 'Dosis',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.commentInput_textarea:focus{
    outline: none;
}
.commentInput_button{
    cursor:pointer;
    margin-top:7px;
}
